<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moselo.HomingPigeon">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:theme="@style/AppTheme">
        <service
            android:name=".Helper.HomingPigeonService"
            android:stopWithTask="false" />

        <activity android:name=".View.Activity.BarcodeScannerActivity" />
        <activity android:name=".View.Activity.ChatActivity" />
        <activity android:name=".View.Activity.LoginActivity" />
        <activity android:name=".View.Activity.RoomListActivity" />
        <activity android:name=".View.Activity.NewChatActivity" />
        <activity android:name=".View.Activity.SearchContactActivity" />
        <activity android:name=".View.Activity.NewContactActivity" />
        <activity android:name=".View.Activity.BlockedListActivity" />
        <activity android:name=".View.Activity.CreateNewGroupActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".View.Activity.GroupSubjectActivity"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>
