<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moselo.HomingPigeon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".SampleApp.Activity.SampleChatActivity" />
        <activity android:name=".SampleApp.Activity.SampleLoginActivity" />
        <activity android:name=".SampleApp.Activity.SampleRoomListActivity" />
        <activity android:name=".SampleApp.Activity.OldSampleChatActivity" />
    </application>

</manifest>