<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.taptalk.TapTalk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="oppo.permission.OPPO_COMPONENT_SAFE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">

        <service
            android:name="io.taptalk.TapTalk.Helper.TapTalkEndAppService"
            android:exported="false"
            android:stopWithTask="false" />

        <service
            android:name="io.taptalk.TapTalk.Helper.CustomTabLayout.TAPKeepAliveService"
            android:exported="true" />

        <receiver
            android:name="io.taptalk.TapTalk.Manager.TAPNetworkStateManager$TapNetworkBroadcastReceiver"
            android:exported="false"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!--                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
            </intent-filter>
        </receiver>

        <activity
            android:name="io.taptalk.TapTalk.Helper.CustomMaterialFilePicker.ui.FilePickerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TapUIRoomListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPNewChatActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPBarcodeScannerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPNewContactActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPBlockedListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPChatProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPImageDetailPreviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPForwardPickerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPMyAccountActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPAddGroupMemberActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPGroupMemberListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPMapActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TapUIChatActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPScanResultActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPEditGroupSubjectActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPMediaPreviewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPWebBrowserActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPVideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="sensor" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TapStarredMessagesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TapPinnedMessagesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TapSharedMediaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TapScheduledMessageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>
