<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.taptalk.Taptalk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="oppo.permission.OPPO_COMPONENT_SAFE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <service
            android:name="io.taptalk.TapTalk.Helper.TapTalkEndAppService"
            android:stopWithTask="false" />
        <service
            android:name="io.taptalk.TapTalk.Helper.CustomTabLayout.TAPKeepAliveService"
            android:exported="true" />

        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPLoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.Helper.CustomMaterialFilePicker.ui.FilePickerActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPRoomListActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPNewChatActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPBarcodeScannerActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPSearchContactActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPNewContactActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPBlockedListActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPChatProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPGroupMemberProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPImageDetailPreviewActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPForwardPickerActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPRegisterActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPMyAccountActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPCountryListActivity"
            android:screenOrientation="portrait" />
<!--        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPAddMembersActivity"-->
<!--            android:screenOrientation="portrait" />-->
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPCreateNewGroupActivity"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPGroupMemberListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPMapActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPChatActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPScanResultActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPGroupSubjectActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPMediaPreviewActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPWebBrowserActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.taptalk.TapTalk.View.Activity.TAPEditGroupActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name="io.taptalk.TapTalk.View.Activity.TAPVideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensor" />
    </application>

</manifest>
